<app-navbar></app-navbar>
<section class="about" id="about">
  <div class="container">
    <div class="heading text-center">
      <h2>
        About
        <span>Us</span>
      </h2>
      <p>
        Countless professionals from across the globe have benefitted from our
        programs. Know our learners and their journeys; and script YOUR success
        story, with Simplilearn.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img
          src="../../../assets/image/about.jpg"
          alt="about"
          class="img-fluid"
          width="100%"
        />
      </div>
      <div class="col-lg-6">
        <h3>Our Training make you to Rule the World</h3>
        <p>
          We have trained over 3,000,000 professionals across the world. Our
          courses are role-based, skill-focused, and industry-acknowledged and
          offer you the best upskilling options. According to our recent survey
          with Ernst & Young LLP (EY) as process advisors, 9 out of 10 our
          learners achieve their career objectives upon completing the online
          bootcamps. You can also enroll in our training programs to achieve
          success by upskilling.
        </p>
        <div class="row">
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>Develop skills for real career growth
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Learn from experts active in their field, not out-of-touch
              trainers
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>Learn by working on real-world problems
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Structured guidance ensuring learning never stops
            </h4>
          </div>
          <div class="col-md-6">
            <h4><i class="far fa-star"></i>Learn from Industry Experts</h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Learn Anytime, Anywhere
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
