.card{
  width:450px;
  height: 637px;
  top:49%;
  left:50%;
  position: absolute;
  box-sizing: border-box;
  padding: 31px 40px;
  border:1px solid white;
  transform: translate(-50%,-50%);
  color:#3e2093; 
  background: whitesmoke;
}
.body{
  min-height: 100vh;
  width: auto;
  background-image: url("../../../assets/lod.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body img{
  width:100
}
label{
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}
.card-header{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  
  }