<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Online Courses</span>
    </div>
      <ul class="nav-links">
        <li>
          <a routerLink="/adminpage" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/courseinfo">
            <i class='bx bx-box' ></i>
            <span class="links_name">CourseInfo</span>
          </a>
        </li>
        <li>
          <a href="/userinfo">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">UserInfo</span>
          </a>
        </li>
      </ul>
  </div>
