<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">Online Courses</span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/admin" class="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/role">
        <i class='bx bx-box'></i>
        <span class="links_name">Role</span>
      </a>
    </li>
    <li>
      <a routerLink="/courseinfo">
        <i class='bx bx-box'></i>
        <span class="links_name">CourseInfo</span>
      </a>
    </li>
    <li>
      <a routerLink="/userinfo">
        <i class='bx bx-box'></i>
        <span class="links_name">UserInfo</span>
      </a>
    </li>
  </ul>
</div>