<app-navbar></app-navbar>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About DevOps</span>
                        <h2>DevOps Tool For Development.</h2>
                    </div>
                    <div class="text">DevOps is a software development strategy which bridges the gap between the developers and the IT staff. 
                        With DevOps, organizations can release small features very quickly and incorporate the feedback which they receive, very quickly.</div>
                    <div class="btn-box">
                        <a href="https://www.atlassian.com/devops" class="theme-btn btn-style-one"> Learn more</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>DevOps</h2>
                        <span>Rules the world</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                title="Big Data"
                                src="https://thumbs.dreamstime.com/b/devops-software-development-concept-devops-software-development-concept-172250871.jpg"
                                alt=""></a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            A new way of building software allows the development and deployment process to be more agile, flexible, and scalable. In this type of architecture, apps are broken down into smaller pieces (microservices) that can be developed and deployed independently.
        </div>
        <div class="text">
            Cloud-native technology is a new way to design and deploy software, which relies on microservices, containers, and immutable infrastructure. This new software development and deployment approach has many benefits for DevOps professionals. 
        </div>
        <div class="text">
            DevOps involves software development and IT operations practices to create a more efficient, cost-effective, and robust system. The rules center on collaboration between software developers and IT operations to improve workflow. 
        </div>
        <div class="text">
            With the rise of Kubernetes as a leading container orchestration engine, it has become even more accessible for organizations to integrate Kubernetes with DevOps.
        </div>
        <div class="text">
            Low-code application is one of the trends that will impact the future of DevOps. It is an application created without coding and can be customized with drag-and-drop tools. 
        </div>
    </div>
</section>
<app-footer></app-footer>