<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Artificial Intelligence</span>
                        <h2>Artificial Intelligence Tool For Intelligence</h2>
                    </div>
                    <div class="text">Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems.
                         Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision.
                        </div>
                    <div class="btn-box">
                        <a href="https://www.ibm.com/in-en/topics/artificial-intelligence" class="theme-btn btn-style-one"> Learn more</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Artificial Intelligence</h2>
                        <span>Rules the world</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                title="Artificial Intelligence"
                                src="https://c0.wallpaperflare.com/preview/570/38/521/artificial-intelligence-technology-futuristic-science.jpg"
                                alt=""></a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            “Artificial intelligence will change the workforce,” affirms Carolyn Frantz, Microsoft’s Corporate Secretary. 
            The bleak view of AI as a job killer is but one side of the coin: while 75 million jobs may disappear,
             as many as 133 million more engaging, less repetitive new roles are expected to be created. 
        </div>
        <div class="text">
            Whether it’s teaching new languages in a personalized way or translating speech and text in real-time, 
            AI-powered language tools from Duolingo to Skype are bridging social and cultural divides in our workplaces, classrooms and everyday lives.
        </div>
        <div class="text">
            Less paperwork, quicker responses, a more efficient bureaucracy – AI has the power to drastically change public administration, 
            but are governments ready? This tech comes with both risks and opportunities that need to be understood and evaluated.
        </div>
        <div class="text">
            Computational creativity is drastically changing the nature of art. Software, more than a tool, is becoming a creative collaborator, merging computer scientist with artist
        </div>
        <div class="text">
            AI has the potential to make health care “much more accessible and more affordable,” insists Paul Bates, director of NHS services at Babylon Health. 
        </div>
    </div>
</section>
<app-footer></app-footer>
