<app-navbar></app-navbar>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Cyber Security</span>
                        <h2>Cyber Security Tool For Security</h2>
                    </div>
                    <div class="text">Cybersecurity is the protection of internet-connected systems such as hardware,
                        software and data from cyberthreats.
                        The practice is used by individuals and enterprises to protect against unauthorized access to
                        data centers and other computerized systems.</div>


                    <div class="btn-box">
                        <a href="https://www.kaspersky.co.in/resource-center/definitions/what-is-cyber-security"
                            class="theme-btn btn-style-one"> Learn more</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Cybersecurity</h2>
                        <span>Rules the world</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                title="Cybersecurity"
                                src="https://res.cloudinary.com/people-matters/image/upload/fl_immutable_cache,w_624,h_351,q_auto,f_auto/v1666001026/1666001025.jpg"
                                alt=""></a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            Security measures and controls are planned, implemented, and upgraded with the help of a cyber security
            analyst. They regularly monitor security access and execute internal and external security audits to ensure
            that there are no security weaknesses or evidence of breaches
        </div>
        <div class="text">
            A security architect plays a critical role in creating the network and computer security architecture for
            their firm. The security architect assists with the planning, analysis, and design of security features.
        </div>
        <div class="text">
            Cyber security managers take the responsibility of ensuring everyone in the firm follows the set security
            policies. For diverse projects, they design strategies to increase network and Internet security and
            supervise a team of IT specialists to ensure the highest levels of data protection.
        </div>
        <div class="text">
            A network security engineer is a critical position in any company. Network Security Engineers are tasked
            with the responsibility of implementing the organization's security systems and ensuring they are put in
            place to counter and prevent threats.
        </div>
        <div class="text">
            An organization's cloud-based networks and systems are built, maintained, and constantly improved by a cloud
            security engineer. They are in charge of the cloud computing environments, as well as the organization's
            core infrastructure, platforms, and software.
        </div>
    </div>
</section>
<app-footer></app-footer>