<app-navbar></app-navbar>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About BigData</span>
                        <h2>Big Data Analytics Tool For Business Insight.</h2>
                    </div>
                    <div class="text">Big Data is a collection of data that is huge in volume, yet growing exponentially
                        with time. It is a data with so large size and complexity that none of traditional data
                        management tools can store it or process it efficiently. Big data is also a data but with huge
                        size.</div>
                    <div class="btn-box">
                        <a href="https://dl.acm.org/doi/fullHtml/10.1145/3408314" class="theme-btn btn-style-one"> Learn
                            more</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Big Data</h2>
                        <span>Rules the world</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                title="Big Data"
                                src="https://img.freepik.com/premium-vector/abstract-network-background_141335-242.jpg?w=2000"
                                alt=""></a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            Data is meaningless without the expertise to evaluate it,” says Jeanne Harris, a senior executive at the
            Accenture Institute for High Performance. There are many more job openings in big data and analytics this
            year than there are now last year, and many Technology professionals are willing to put in the time and
            money to learn
        </div>
        <div class="text">
            The demand for analytical talents is rapidly increasing, yet there is a significant supply gap. This is
            happening all across the world and isn’t limited to a specific spot.
        </div>
        <div class="text">
            Data analytics is one of the top objectives for the organisations who participated in the study, according
            to the conclusions of the ‘Advanced Research with Big Data Analytics’ research, since they feel it enhances
            their businesses’ performance
        </div>
        <div class="text">
            Increasingly complex data analytics on vast, heterogeneous datasets has become simpler thanks to
            technological advancements.
        </div>
        <div class="text">
            Many businesses use analytics as a competitive advantage. Without a question. According to Tom Davenport’s
            ‘Analytics Advantage’ poll, 96% of respondents believe analytics will grow more vital to their companies.
        </div>
    </div>
</section>
<app-footer></app-footer>