<app-sidenav></app-sidenav>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="profile-details">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="admin_name">Log out</span>
      </a>
    </div>
  </nav>
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Order</div><br>
          <div class="number">40,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Sales</div><br>
          <div class="number">38,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bxs-cart-add cart two'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Profit</div><br>
          <div class="number">Rs.12,876</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart cart three'></i>
      </div>
    </div>
    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="title">Recent Sales</div>
        <div class="sales-details">
          <ul class="details">
            <li class="topic">Date</li>
            <li>02 Jan 2023</li>
            <li>02 Jan 2023</li>
            <li>02 Jan 2023</li>
            <li>02 Jan 2023</li>
            <li>02 Jan 2023</li>
            <li>02 Jan 2023</li>
          </ul>
          <ul class="details">
            <li class="topic">Customer</li>
            <li>Maha</li>
            <li>Pavi</li>
            <li>Sharmila</li>
            <li>Shakthi</li>
            <li>Vijay</li>
            <li>SriKarthik</li>
          </ul>
          <ul class="details">
            <li class="topic">Courses</li>
            <li>Angular</li>
            <li>Artificial Intelligence</li>
            <li>CyberSecurity</li>
            <li>Angular</li>
            <li>BigData</li>
            <li>CyberSecurity</li>
          </ul>
        </div>
      </div>
      <div class="top-sales box">
        <div class="title">Top Seling Courses</div>
        <ul>
          <li>
            <span class="product">Angular</span>
          </li>
          <li>
            <span class="product">Artificial Intelligence </span>
          </li>
          <li>
            <span class="product">Big Data</span>
          </li>
          <li>
            <span class="product">Digital Marketing</span>
          </li>
          <li>
            <span class="product">Cyber Security</span>
          </li>
          <li>
            <span class="product">DevOps</span>
          <li>
        </ul>
      </div>
    </div>
  </div>
</section>