.card {
  width: 550px;
  height: 450px;
  top: 50%;
  left: 50%;
  position: absolute;
  box-sizing: border-box;
  padding: 31px 40px;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  color: #533d92e4;
  background: whitesmoke;
}

.body {
  min-height: 100vh;
  width: auto;
  background-image: url("../../../assets/image/lod.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
}

.card-header {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;

}