<app-navbar></app-navbar>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About JavaScript</span>
                        <h2>Cloud Computing Tool For Web development.</h2>
                    </div>
                    <div class="text">
                        JavaScript (js) is a light-weight object-oriented programming language which is used by several
                        websites for scripting the webpages. It is an interpreted,
                        full-fledged programming language that enables dynamic interactivity on websites when applied to
                        an HTML document.
                    </div>
                    <div class="btn-box">
                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                            class="theme-btn btn-style-one"> Learn more</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>JavaScript</h2>
                        <span>Rules the world</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                title="JavaScript"
                                src="https://thumbs.dreamstime.com/b/javascript-concept-blue-background-blue-text-44066030.jpg"
                                alt=""></a></figure>

                </div>
            </div>

        </div>
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            JavaScript is going to be the new face of web development in the next several years.
            Market research reveals the realities very clearly at the forefront, allowing developers to make the best
            decision possible.
        </div>
        <div class="text">
            Many years from now, if we look at the projections then, JavaScript will still exist and will still have the
            same demand as ever before.
            Though the predictions in a volatile programming language like JavaScript are very difficult to make.
        </div>
        <div class="text">
            With JavaScript in Progressive Web App (PWA), there is no question about where their future is leading them
            to a brighter future.
            PWA is a web app that delivers an app-like experience to consumers by utilizing contemporary web
            capabilities.
        </div>
        <div class="text">
            JavaScript is already popular but what makes it more preferable is that it has a large community behind it.
            Sometimes that joke seems to act like a fact that there are more JavaScript frameworks than programmers in
            the community.
        </div>
        <div class="text">
            JavaScript has more front-end frameworks to modify and make changes than there is time to understand them
            all.
            Every day, developers use NPM to share millions of modules
        </div>
    </div>
</section>
<app-footer></app-footer>