<app-navbar></app-navbar>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Digital Marketing</span>
                        <h2>Digital Markting Tool For Development.</h2>
                    </div>
                    <div class="text">Digital marketing, also called online marketing, is the promotion of brands to
                        connect with potential customers
                        using the internet and other forms of digital communication. This includes not only email,
                        social media, and web-based advertising,
                        but also text and multimedia messages as a marketing channel.</div>
                    <div class="btn-box">
                        <a href="https://www.ama.org/pages/what-is-digital-marketing/" class="theme-btn btn-style-one">
                            Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Digital Marketing</h2>
                        <span>Rules the world</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                                title="Digital Marketing"
                                src="https://media.istockphoto.com/id/1331138803/photo/business-technology-internet-and-network-concept-digital-marketing-content-planning.jpg?b=1&s=170667a&w=0&k=20&c=hJWnOpYRfYCdclYlrk8sR1JsNd5Otea7VTtUNUnT1Y4="
                                alt=""></a></figure>
                </div>
            </div>
        </div>
        <div class="sec-title">
            <span class="title">Our Future Goal</span>
            <h2>We want to lead in innovation & Technology</h2>
        </div>
        <div class="text">
            You can even start earning by starting a website, app, or blog in a specified niche. Selecting a niche that
            you are familiar with or have worked on will help you generate more traffic.
        </div>
        <div class="text">
            Freelancing services are seen as the future scope of digital marketing in India as it allows a person to
            work with multiple clients.
        </div>
        <div class="text">
            Once you start your full-time digital marketing agency, you can build better marketing strategies for your
            clients
        </div>
        <div class="text">
            You need to stay focused on creating quality content to reach the maximum number of audiences.
        </div>
        <div class="text">
            A study has revealed that numerous digital marketers have become influencers in a selected niche by building
            their personal brands.
        </div>
    </div>
</section>
<app-footer></app-footer>