<app-navbar></app-navbar>
<div class="body">
  <section class="home">
    <img src="../../assets/image/back.jpg" />
  </section>
  <div class="container">
    <div class="clearfix">
      <div class="col-sm-12">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="item active">
              <div data-target="#carousel" data-slide-to="0" class="thumb">
                <img src="./../assets/image/digital.webp" />
              </div>
              <div data-target="#carousel" data-slide-to="1" class="thumb">
                <img src="./../assets/image/aiimg.jpg" />
              </div>
              <div data-target="#carousel" data-slide-to="2" class="thumb">
                <img src="./../assets/image/bigdata.jpg" />
              </div>
              <div data-target="#carousel" data-slide-to="3" class="thumb">
                <img src="./../assets/image/dev.webp" />
              </div>
            </div>
            <div class="item">
              <div data-target="#carousel" data-slide-to="4" class="thumb">
                <img src="./../assets/image/dev.webp" />
              </div>
              <div data-target="#carousel" data-slide-to="5" class="thumb">
                <img src="./../assets/image/bigdata.jpg" />
              </div>
              <div data-target="#carousel" data-slide-to="6" class="thumb">
                <img src="./../assets/image/aiimg.jpg" />
              </div>
              <div data-target="#carousel" data-slide-to="7" class="thumb">
                <img src="./../assets/image/digital.webp" />
              </div>
            </div>
          </div>
          <a
            class="left carousel-control"
            href="#thumbcarousel"
            role="button"
            data-slide="prev"
          >
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a
            class="right carousel-control"
            href="#thumbcarousel"
            role="button"
            data-slide="next"
          >
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img src="./../assets/image/digital.webp" />
            </div>
            <div class="item">
              <img src="./../assets/image/bigdata.jpg" />
            </div>
            <div class="item">
              <img src="./../assets/image/aiimg.jpg" />
            </div>
            <div class="item">
              <img src="./../assets/image/angular.png" />
            </div>
            <div class="item">
              <img src="./../assets/image/cyberimg.jpg" />
            </div>
            <div class="item">
              <img src="./../assets/image/dev.webp" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <br /><br /><br />
        <h1>Employee and Team Training Solutions</h1>
        <p class="font">
          Curriculum tailored to your organization, delivered with white-glove
          service and support
        </p>
        <p><br /></p>
        <div class="btn-box">
          <a
            href="mailto:OnlineTutorial@gmail.com"
            class="theme-btn btn-style-one"
            >Request a Free Demo</a
          >
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
